@{
    ViewData["Title"] = "Dashboard";
    int nSquares = 64;
}

<div class="text-center">
    <h1 class="display-4">Dashboard</h1>
</div>

<h2 class="display-4">Clients:</h2>
<div class="container">
    <div class="row">
        @for (int i = 0; i < nSquares; i++)
        {
            <div class="col-sm-1 mb-3">
                <div id="square-@i" class="square" style="background-color: white;"></div>
            </div>
        }
    </div>
</div>

